
.menu.activity {
	h2.title {
		user-select: none;
		cursor: pointer;
	}
}

.activity-connect {
	.status {
		text-transform: uppercase;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		user-select: none;
	}
}

.activity-main {
	
	width: 100%;
	height: 80%;

	//background: #ff0000;
	> .room {
		/*
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		*/
		> .name {
			display: none;
			text-transform: uppercase;
		}
		> .sensors {
			margin: 6px 10px;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			> .sensor {
				display: table;
				user-select: none;
				white-space: nowrap;
				&.inactive {
					filter: grayscale(90%) brightness(0.5);
				}
				> .name {
					display: block;
					float: left;
				}
				> .values {
					display: inline-block;
					margin: 0px 0px 0px 8px;
					//font-family: 'Helvetica75';
					//font-size: 32px;
					> .value {
						display: inline-block;
						margin: 0 5px;
					}
					> .temperature {
						&::after {
							content: "°";
						}
					}
					> .humidity {
						&::after {
							content: "%";
						}
					}
				}
			}
		}
		> .chart-container {
			position: relative;
			padding: 8px;
			//height: 100%;
			//width: 100%;
			canvas.chart {
				height: 100%;
			}
		}
	}

	aside.meta {
		position: fixed;
		bottom: 10px;
		left: 10px;
		margin: 5px;
		i {
			margin: 1px;
			padding: 5px;
			cursor: pointer;
			&.fa-sync {
				&.active {
					opacity: 0.1;
				}
			}
		}
	}

	img.camera {
		/*
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		*/
		width: 640px;
		height: 480px;
		z-index: 1000000;
	}
}

.activity-camera {
	h2.title {
		
	}
	img.camera {
		display: block;
		//position: absolute;
		//transform: translate(-50%,-50%);
		//top: 50%;
		width: 100%;
		height: 100%;
		//max-width: 640px;
		margin: 0 auto;
		object-fit: contain;
	}
}

.activity-setup {
	padding: 16px;
	> .rooms {
		> .room {
			padding: 16px;
			background: #222;
			> .name {
			}
			> .sensors {
				display: flex;
				//justify-content: center;
				> .sensor {
					margin-right: 8px;
					padding: 16px;
					background: #111;
					> .name {
					}
					> .type {
						&::before {
							content: 'TYPE: ';
						}
					}
					> .pin {
						&::before {
							content: 'PIN: ';
						}
					}
				}
			}
		}
	}
}

.activity-rawdata {
	table {
		border: 1px solid #fff;
		thead {
			tr {
				th {
				}
			}
		}
		tbody {
			tr {
				td {
					//margin: 10px;
					&.temperature {
						&:after {
							content: "°";
						}
					}
					&.humidity {
						&:after {
							content: "%";
						}
					}
				}
			}
		}

	}
}